:root{
    --marronFonce: #343330;
    --marronClair: #7E5920;
    --vert: #45462A;
    --orange: #DC851F;
    --jaune: #FFA737;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--marronClair);
    display: grid;
}
header{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--marronFonce);
    color: wheat;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--marronFonce);
    color: wheat;
    margin-top: auto;
}
footer a{
    color: wheat;
    font-size: 20px;
}
header input{
    width: 200px;
    height: 100px;
    font-size: 24px;
    background-color: var(--jaune);
    color: var(--marronFonce);
}
header input:hover{
    background-color: var(--marronFonce);
    color: wheat;
}
.menu{
    display: flex;
    align-items: center;
}
.btn-menu{
    background-color: var(--jaune);
    color: var(--marronFonce);
    height: 64px;
    width: 120px;
    font-size: 20px;
}
.btn-menu:hover{
    background-color: var(--marronFonce);
    color: wheat;
}
.fiche-style{
    width: 250px;
    height: 120px;
    background-color: var(--orange);
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    transition: all 0.5s;
    box-shadow: 5px 5px 5px 0px var(--marronFonce);
    -webkit-box-shadow: 5px 5px 5px 0px var(--marronFonce);
    -moz-box-shadow: 5px 5px 5px 0px var(--marronFonce);
}
.fiche-style:hover{
    background-color: var(--jaune);
}
.fiche-style input{
    height: 25px;
    width: 90px;
    background-color: var(--marronClair);
    color: wheat;
    transition: all 0.5s;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    transition: all 0.5s;
    opacity: 0.7;
}
.fiche-style .delete{
    border-radius: 50%;
    width: 25px;
}
.fiche-style input:hover{
    background-color: var(--marronFonce);
    color: wheat;
    scale: 1.1;
    opacity: 1;
}
.options{
    display: flex;
    align-items: flex-end;
}
.alphabet{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}
.alphabet a{
    margin-left: 20px;
}
.nom-style{
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-left: 3px;
    font-size: 24px;
}
.gestion-style{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
}
.modif-nom-style{
    height: 150px;
    background-color: var(--marronFonce);
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
}
.modif-nom-style label{
    font-size: 20px;
}
.modif-nom-style input{
    margin-right: 20px;
}
.modif-nom-style a{
    color: wheat;
    font-size: 20px;
}
.sommaire{
    margin-top: 5px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.sommaire a{
    width: 30px;
    text-decoration: none;
    font-size: 30px;
    color: wheat;
}
.btn-generique{
    background-color: jaune;
}
.resultat-tri{
    width: 600px;
    height: 400px;
    background-color: var(--marronFonce);
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto 30px auto;
}
.resultat-tri p{
    font-size: 24px;
    text-align: center;
}
.resultat-tri a{
    color: wheat;
    font-size: 20px;
}